
.App-link {
  color: #61dafb;
}
.nav{
  padding: 5px;
  margin-right: 10px;
  align-items: left;
  text-decoration: none;
}
.nav.active{
  color: #61dafb;
}
label{
  margin-right: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
